<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Riena Toolbox"
            id="org.eclipse.riena.toolbox.category">
      </category>
      <view
            name="AssemblyEditor"
            icon="icons/sample.gif"
            category="org.eclipse.riena.toolbox.category"
            class="org.eclipse.riena.toolbox.assemblyeditor.ui.views.AssemblyView"
            id="org.eclipse.riena.toolbox.assemblyeditor.ui.views.AssemblyView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.riena.toolbox.assemblyeditor.StartupEditorListener">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.riena.toolbox.assemblyeditor.ui.preferences.ToolboxConfigurationPreferencePage"
            id="org.eclipse.riena.toolbox.preferences.ToolboxConfigurationPreference"
            name="Riena Toolbox">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.riena.toolbox.assemblyeditor.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
