<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Riena Toolbox"
            id="de.compeople.toolbox.category">
      </category>
      <view
            name="AssemblyEditor"
            icon="icons/sample.gif"
            category="de.compeople.toolbox.category"
            class="org.eclipse.riena.toolbox.assemblyeditor.ui.views.AssemblyView"
            id="de.compeople.toolbox.assemblyeditor.ui.views.AssemblyView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.compeople.scp.toolbox.assemblyeditor.editors.NodeEditor"
            icon="icons/sample.gif"
            id="de.compeople.scp.toolbox.assemblyeditor.editors.NodeEditor"
            name="NodeEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.riena.toolbox.assemblyeditor.StartupEditorListener">
      </startup>
   </extension>

</plugin>
