<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.5"?>

<target name="Riena Target 1.2.0.0">
<locations>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.rcp.sdk.id" version="3.5.1.M20090917-0800"/>
<repository location="http://download.eclipse.org/releases/galileo"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.5.1.r351_v20090901-7G7MAA7lQiEeE7LKsaYgOK58fdAa"/>
<repository location="http://download.eclipse.org/releases/galileo"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.riena.build.feature.core.source.feature.group" version="1.2.0.M2-v20091214_1_2_0_0"/>
<unit id="org.eclipse.riena.build.feature.core.sdk.feature.group" version="1.2.0.M2-v20091214_1_2_0_0"/>
<unit id="org.eclipse.riena.build.feature.sdk.feature.group" version="1.2.0.M2-v20091214_1_2_0_0"/>
<unit id="org.eclipse.riena.build.feature.feature.group" version="1.2.0.M2-v20091214_1_2_0_0"/>
<unit id="org.eclipse.riena.build.feature.samples.source.feature.group" version="1.2.0.M2-v20091214_1_2_0_0"/>
<unit id="org.eclipse.riena.build.feature.samples.sdk.feature.group" version="1.2.0.M2-v20091214_1_2_0_0"/>
<repository location="http://download.eclipse.org/rt/riena/1.2.0.0/update/"/>
</location>
</locations>
</target>
