<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.riena.toolbox.previewer.previewCustomizer">
      <previewCustomizer
            class="org.eclipse.riena.toolbox.previewer.customizer.RienaPreviewCustomizer">
      </previewCustomizer>
   </extension>

</plugin>
