<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.pde.ui.pluginContent">
      <!-- contribute to plugin wizards -->
      <wizard
            class="org.eclipse.riena.ui.templates.hello.HelloRienaNewWizard"
            icon="$nl$/icons/etool16/newexprj_wiz.gif"
            id="org.eclipse.riena.ui.templates.hello.HelloRienaNewWizard"
            java="true"
            name="%helloRiena.name"
            rcp="true"
            ui-content="true">
         <description>
            %helloRiena.desc
         </description>
      </wizard>
      <wizard
            class="org.eclipse.riena.ui.templates.mail.MailNewWizard"
            icon="$nl$/icons/etool16/newexprj_wiz.gif"
            id="org.eclipse.riena.ui.templates.mail.MailNewWizard"
            java="true"
            name="%mailRiena.name"
            rcp="true"
            ui-content="true">
         <description>
            %mailRiena.desc
         </description>
      </wizard>
      <!--wizard
            class="org.eclipse.riena.ui.templates.cs.ClientServerNewWizard"
            icon="$nl$/icons/etool16/newexprj_wiz.gif"
            id="org.eclipse.riena.ui.templates.cs.MailNewWizard"
            java="true"
            name="%cs.name"
            rcp="true"
            ui-content="true">
         <description>
            %cs.desc
         </description>
      </wizard-->
   </extension>
   <extension
         point="org.eclipse.pde.core.targets">
      <target
            definition="targets/riena_1.2.0.0.target"
            id="org.eclipse.riena.target.120"
            name="Riena Target 1.2.0.0">
      </target>
   </extension>
</plugin>
